src/main/app/couchbase-connector-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:couchbasedb="http://www.mulesoft.org/schema/mule/couchbasedb" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/couchbasedb http://www.mulesoft.org/schema/mule/couchbasedb/current/mule-couchbasedb.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <couchbasedb:couchbase-config name="Couchbase_DB__Configuration" doc:name="Couchbase DB: Configuration"/>
    <flow name="couchbase-connector-demo-get-document">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/get" doc:name="HTTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <couchbasedb:get-document config-ref="Couchbase_DB__Configuration" id="#['test1']" doc:name="Couchbase DB"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="couchbase-connector-demo-insert-document">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/insert" doc:name="HTTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <couchbasedb:insert-document config-ref="Couchbase_DB__Configuration" doc:name="Couchbase DB">
            <couchbasedb:java-map-document id="#[message.inboundProperties.'http.query.params'.docid]">
                <couchbasedb:content ref="#[{&quot;key1&quot;: &quot;Val1&quot;, &quot;Key2&quot;:&quot;Value2&quot;}]"/>
            </couchbasedb:java-map-document>
        </couchbasedb:insert-document>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="couchbase-connector-demo-delete-document">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/delete" doc:name="HTTP"/>
        <logger message="#[message.inboundProperties.'http.query.params'.docid]" level="INFO" doc:name="Logger"/>
        <couchbasedb:delete-document config-ref="Couchbase_DB__Configuration" doc:name="Couchbase DB">
            <couchbasedb:java-map-document id="#[message.inboundProperties.'http.query.params'.docid]"/>
        </couchbasedb:delete-document>
        <set-payload value="#['Document Removed?: '+ payload]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="couchbase-connector-demo-upsert-document">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/upsert" doc:name="HTTP"/>
        <logger message="#[message.inboundProperties.'http.query.params'.docid]" level="INFO" doc:name="Logger"/>
        <couchbasedb:upsert-document config-ref="Couchbase_DB__Configuration" doc:name="Couchbase DB">
            <couchbasedb:java-map-document id="#[message.inboundProperties.'http.query.params'.docid]">
                <couchbasedb:content ref="#[{&quot;key1&quot;: &quot;Val1&quot;, &quot;Key2&quot;:&quot;Value2&quot;, &quot;time&quot; : server.dateTime.getMilliSeconds()}]"/>
            </couchbasedb:java-map-document>
        </couchbasedb:upsert-document>
        <set-payload value="#['Document in server: '+ payload]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="couchbase-connector-demo-update-document">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/update" doc:name="HTTP"/>
        <logger message="#[message.inboundProperties.'http.query.params'.docid]" level="INFO" doc:name="Logger"/>
        <couchbasedb:update-document config-ref="Couchbase_DB__Configuration" doc:name="Couchbase DB">
            <couchbasedb:java-map-document id="#[message.inboundProperties.'http.query.params'.docid]">
                <couchbasedb:content ref="#[{&quot;key1&quot;: &quot;Val1&quot;, &quot;Key2&quot;:&quot;Value2&quot;, &quot;time&quot; : server.dateTime.getMilliSeconds()}]"/>
            </couchbasedb:java-map-document>
        </couchbasedb:update-document>
        <set-payload value="#['Document in server: '+ payload]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
</mule>
